table{
	border: solid black 1px;
}

th{
	border: solid black 1px;
}

td{
	border: solid black 1px;
}

.nameTH{
	min-width: 200px;
	height: 25px;
	text-align: center;
}

.balanceTH{
	min-width: 100px;
	height: 25px;
	text-align: center;
}

.accIDTH{
	height: 25px;
	text-align: center;
}

.statTH{
	min-width: 120px;
	height: 25px;
	text-align: center;
}

.coTG{
	text-align: center;
	height: 25px;
}

.userTH{
	min-width: 160px;
	text-align: center;
}

.pwTH{
	min-width: 160px;
	text-align: center;
}

.cidTH{
	min-width: 75px;
	text-align: center;
}

.fNameTH{
	min-width: 160px;
	text-align: center;
}

.lNameTH{
	min-width: 160px;
	text-align: center;
}

.addTH{
	min-width: 300px;
	text-align: center;
}